<md-card class="default-card zero-margin _md md-primoExplore-theme">
    <md-card-title>
        <md-card-title-text>
            <span translate="" class="md-headline">No results found
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            <!---->
            <span ng-if="$ctrl.showQuery()" translate="nui.noresults.description" translate-value-term="{{$ctrl.term}}">There are no results matching your search <em>"{{$ctrl.term}}"</em>.
            </span>
            <!---->
            <!---->
        </p>
        <p>
            <span translate="" class="bold-text">Suggestions:
            </span>
        </p>
        <ul>
            <li translate="">Try different keywords.
            </li>
            <li>
                Didn't find what you were looking for? <a href="https://bc.on.worldcat.org/search?databaseList=&amp;queryString={{$ctrl.term}}">Try your search in WorldCat</a>.
            </li>
            <li ng-if="$ctrl.scope == 'bcl'">
                Looking for Articles? <a target="_self" ng-href="search?query=any,contains,{{$ctrl.term}}&tab=pci_only&vid=bclib_new&sortby=rank&offset=0">
                    Try your search in Articles</a>. </li>
            <li ng-if="$ctrl.scope == 'pci'">
                Looking for Books? <a target="_self" ng-href="search?query=any,contains,{{$ctrl.term}}&tab=bcl_only&vid=bclib_new&sortby=rank&offset=0">
                    Try your search in BC Collections</a>. </li>
            <li>
                Need something that BC Libraries doesn't own? <a 
href="https://illiad.bc.edu/illiad/bxm/logon.html">Submit an interlibrary loan request</a>.
            </li>
        </ul>
    </md-card-content>
</md-card>
